/**
 * Footer Component Styles
 */

footer {
    margin-top: var(--space-lg);
    border-top: 1px dotted var(--dim-color);
    padding-top: var(--space-sm);
    font-size: 0.8em;
    color: var(--dim-color);
}

.prompt {
    color: var(--text-color);
    font-weight: bold;
    margin-right: var(--space-sm);
}

.cursor {
    display: inline-block;
    width: 0.6em;
    height: 1.2em;
    background-color: var(--text-color);
    animation: blink 1s step-end infinite;
    vertical-align: middle;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
